dj-database-url
psycopg2
gunicorn
django-heroku
pyGithub
whitenoise
scipy==1.5.2
matplotlib==3.3.2
pandas==1.1.3
opencv_python_headless==4.5.1.48
numpy==1.19.2
Django==3.1.7
djangorestframework==3.12.2
Pillow==8.1.2
requests
scikit_learn==0.24.1
https://download.pytorch.org/whl/cpu/torch-1.8.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.9.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
